.zg-02{
    width:1920px;
    &>.title{
        background-color: #f33c36;
        height:121px;
        .main-content{
            position:relative;
            // margin:0 percentage(351px / $pageWidth);
            margin:0 auto;
            height:100%;
            width:1218px;
            .logo{
                position:absolute;
                left:0;
                top:50%;
                transform: translateY(-50%);
            }
            .search-box{
                position:absolute;
                top:50%;
                transform: translateY(-50%);
                right:0;
                width: 322px;
                height:30px;
                border:1.5px solid #ff776b;
                border-radius: 1px;
                .search-input{
                    box-sizing: border-box;
                    position:absolute;
                    border:0;
                    border-right:1.5px solid #ff776b;
                    height:30px;
                    width: 292px;
                    bottom: 0;
                    outline: none;
                    letter-spacing: 1.5px;
                    line-height: 30px;
                    padding: 0 20px;
                    font-size:13px;
                    color:#888888;
                }
                .search-button{
                    box-sizing: border-box;
                    position:absolute;
                    border:0;
                    background-color:transparent;
                    width:30px;
                    height:30px;
                    bottom:0;
                    right:0;
                    display:inline-block;
                    background-image: url('../images/search.png');
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 70%;
                    &:hover{
                        box-shadow: 0px 0px 5px #fff;
                    }
                    &:focus{
                        outline: none;
                    }
                    border-radius: 0;
                }
            }
        }
    }
    &>.nav-box{
        width:100%;
        .main-content{
            margin:0 auto;
            width:1218px;
            .nav{
                width:505px;
                padding:13px 2px;
                font-size: 22px;
                li{
                    position:relative;
                    width:120px;
                    height:30px;
                    line-height: 30px;
                    text-align: center;
                    display: inline-block;
                    &:before{
                        position:absolute;
                        content: ' ';
                        left:0px;
                        height:70%;
                        top:50%;
                        transform: translateY(-50%);
                        width:1px;
                        background-color: #000;
                    }
                    &:last-child{
                        &:after{
                            position:absolute;
                            content: ' ';
                            right:0px;
                            height:70%;
                            top:50%;
                            transform: translateY(-50%);
                            width:1px;
                            background-color: #000;
                        }
                    }
                    &.choose{
                        background-color:#f33c36;
                        color:#fff;
                        &:before{
                            background-color: transparent;
                        }
                        &:after{
                            background-color: transparent;
                        }
                        &+li{
                            &:before{
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
            .bread-nav{
                height:37px;
                background-color:#f5f5f5;
                padding-left:25px;
                li{
                    font-size:14.8px;
                    color:#f33c36;
                    display: inline-block;
                    position:relative;
                    line-height: 37px;
                    padding-right:20px;
                    &:after{
                        content: ' ';
                        position:absolute;
                        width:1px;
                        height:40%;
                        right:10px;
                        top:50%;
                        transform: translateY(-50%) skew(-20deg);
                        background-color: #d5d5d5;
                    }
                    &:last-child{
                        &:after{
                            width:0px;
                        }
                    }
                }
            }
        }
    }
    &>.daren-list{
        width:1218px;
        overflow: hidden;
        margin:auto;
        margin-top:-9px;
        .list-item{
            width:280px;
            float:left;
            margin-right:30px;
            margin-top:45px;
            &:nth-child(4n){
                margin-right:0;
            }
            img{
                width:280px;
                height:280px;
            }
            h3{
                font-size: 20px;
                color:#3f3e3e;
                line-height: 50px;
                text-align: center;
                font-weight: 600;
            }
            p{
                font-size: 17px;
                color:#3f3e3e;
                line-height:24px;
            }
        }
    }
    &>.wait-line{
        width:1218px;
        margin:80px auto 0;
        position:relative;
        height:20px;
        .line{
            width:100%;
            height:1px;
            position:absolute;
            top:11px;
            background-color:#cfcfcf;
        }
        .wait-text{
            position:absolute;
            font-size:16px;
            line-height: 20px;
            left:50%;
            transform: translate(-50%);
            background-color:#fff;
            padding:0 30px;
            z-index:10;
            i{
                padding-left:5px;
                position:relative;
                top:-4px;
                letter-spacing:2px;
            }
        }
    }
    &>.page-tools{
        width:775px;
        height:60px;
        margin:70px auto 22px auto;
        text-align: center;
        ul{
            display: inline-block;

            li{
                display: inline-block;
                line-height: 60px;
                margin-left:5px;
                position:relative;
                width:60px;
                height:60px;
                text-align: center;
                font-size:23px;
                &:after{
                    content:' ';
                    position:absolute;
                    top:50%;
                    left:0;
                    transform: translateY(-50%);
                    border:1px solid #e7e7e7;
                    width:100%;
                    height:100%;
                    border-radius: 30px;
                }
            }
            .point{
                color:#999;
                letter-spacing:5px;
                width:30px;
                margin-left:10px;
                &:after{
                    border:0px;
                }
                span{
                    position:relative;
                    top:-5px;
                    // left:50%;
                    // transform: translate(-50%);
                    // vertical-align: middle;
                }
            }
            .choose{
                color:#fff;
                z-index:2;
                &:after{
                    z-index: -1;
                    border:1px solid #f33c36;
                    background-color:#f33c36;
                }
            }
        }
    }
    &>footer{
        width:100%;
        height:224px;
        margin-top: 94px;
        background-color: #26292e;
        .main-box{
            width:1218px;
            color:#fff;
            padding-top:75px;
            margin:0 auto;
            .nav{

                li{
                    display: inline-block;
                    a{
                        text-decoration: none;
                        color:#fff;
                        line-height: 50px;
                    }
                }
            }
            .copyright{
                margin-top:10px;
            }
        }
    }
}
